@font-face {
	font-family: "fira-sans";
	src: url('../assets/FiraSans-Light.ttf') format('truetype'), 
	url('../assets/FiraSans-Medium.ttf') format('truetype');
}

#main {
	font-size:25px;
	font-family: 'fira-sans', 'sans-serif';
	margin:0;
	overflow:hidden;
}

#topbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.856);
}

#topbar h1 {
	color: rgb(255, 255, 255);
	font-size: 1.7rem;
}

.add-button {
	height: 50px;
	width: 120px;
	background-color: rgb(59, 192, 32);
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin:15px;
}

.add-task {
	position: absolute;
	top: 0;
	right: 0;
}

#content {
	display: flex;
	min-height: calc(100vh - 80px);
	width: 100%;
	margin: 0;
	position: absolute;
	top: 80px;
}

#sidebar {
	position:absolute;
	left:0;
	display: flex;
	flex-direction: column;
	height:100%;
	width:200px;
	border-right:rgb(0, 0, 0) solid 2px;
}

#list-options {
	display: flex;
	flex-direction: column;
}

.display-option {
	font-size: 1.2rem;
	padding: 15px 0;
	border: none;
	background-color: rgb(255, 255, 255);
	border-bottom: rgba(0, 0, 0, 0.856) solid 1px;
	width:100%;
	text-align: center;
	word-break: break-all;
	overflow:hidden;
	margin: 0;
}

.remove-btn {
	position: relative;
	right:5px;
	bottom:5px;
	font-size:10px;
	background-color: rgba(0, 0, 0, 0.397);
	border-radius: 50%;
}

.remove-btn:hover{
	animation-name: remove;
	animation-duration: 100ms;
	animation-fill-mode: forwards;
}

@keyframes remove {
	0% {}
	100% {background-color: rgba(248, 21, 21, 0.685); }
}

.display-option:hover {
	margin-bottom: 5px;
	animation-name: option-hover;
	animation-duration: 100ms;
	animation-fill-mode: forwards;
}

@keyframes option-hover {
	0% {
		box-shadow: none;
	}
	
	100% {
		box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.637);
	}
}

.selected {
	border-top: solid 2px;
	border-bottom: solid 3px;
}

.project-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	overflow-y:auto;
}

.project-info {
	margin-top:20px;
	overflow-y:hidden;
}

.project-options h1 {
	font-size: 1.3rem;
	color:rgb(11, 0, 114);
	text-decoration: underline;
}

#project-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-size: 1rem;
}

#project-list div {
	overflow-y:auto;
}

#list-container {
	position: relative;
	left:200px;
	height: calc(100vh - 80px);
	width: calc(100vw - 200px);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.3rem;
}

#task-list {
	display:flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: calc(100vw - 200px);
	position: relative;
	left: 20px;
	overflow: auto;
}

#data-identifiers {
	display: flex;
	align-items: center;
	width: calc(100vw - 200px);
	position: relative;
	left:20px;
}

#data-identifiers h1 {
	font-size: 1.6rem;
	margin: 20px 0;
}

.list-info {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc((100vw - 220px)/5);
	height: 100%;
	margin: 0;
}

.description-info {
	width: calc((3*(100vw - 220px))/5);
}

.task {
	width:100%;
	display:flex;
	align-items: center;
}

.hidden-task-info {
	display:none;
}

#prompt-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height:100vh;
	width:100vw;
}

#black-screen {
	z-index:998;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.397);
}

.form-box {
	z-index:999;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
	width: 500px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(0, 0, 0);
}

.input-container {
	display: flex;
	flex-direction: column;
	width:100%;
	margin: 10px 0;
}

.label-text {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.2rem;
}

.input-box {
	height: 25px;
	margin-top: 10px;
	font-size: 1.2rem;
	font-family: 'fira-sans', 'sans-serif';
	padding: 5px;
}

.description-box {
	height: 70px;
	resize: none;
	text-align: left;
}

#submit {
	margin-top: 20px;
	height: 30px;
	width: 100px;
	background-color: rgb(238, 57, 57);
	font-size: 1rem;
}